.nav-bar
  .nav-bar-container
    .toc.nav-button
      .toc-label
        %a(href="#") Contents
      .toc-list
        #includeTOC
          .hyphenate= partial('toc')

    #includeLogoAndCoverlink= partial('logo-coverlink')

    - if(params[:prev_num] && params[:page] != '00')
      %a(href="#{url(:pages, :page, ("%02d" % params[:prev_num]), :format => 'html')}" class="nav-button prev")
        .nav-button-text Previous Page
    - else
      %a.nav-button.prev.empty &nbsp;
    - if(params[:next_num])
      %a(href="#{url(:pages, :page, ("%02d" % params[:next_num]), :format => 'html')}" class="nav-button next")
        .nav-button-text Next Page
    / Implementing the Dossier-Number
- unless(params[:page_num] < 1)
  #dossier-number.dossier-number
    %p= params[:page]

/ Navigation bar edges
.edge-left
.edge-right

