- root ||= '.'
%a.toc-dossier{:href=> "00.html"}
  .toc-dossier-number C
  %img(class="toc-thumb" src="#{root}/images/toc-thumbs/00.jpg")
  %h1 Cover
  %p About OSB
- settings.pages.each do |p|
  - i = p["num"]
  %a.toc-dossier{:href=> "#{i}.html"}
    .toc-dossier-number= Integer(i).to_s
    %img(class="toc-thumb" src="#{root}/images/toc-thumbs/#{i}.jpg")
    %h1 Page #{i}
    %p= p["title"]
