- root ||= '.'
- if @current_book
  - @pages.each do |p|
    - i = p.page_number
    %a.toc-dossier{:href=> url(:book, :show_page, @current_book.id, p.page_number)}
      .toc-dossier-number= Integer(i.gsub(/^[0]+/, '')).to_s
      -# %img(class="toc-thumb" src="#{root}/images/toc-thumbs/#{i}.jpg")
      %h1= p["title"]
      %p= p["subtitle"]


