!!! 5
- conditional_html
- @docroot ||= '/'; @export ||= false;
%head
  %meta(charset="utf-8")

  / Prevent pinch to zoom on iOS devices
  %meta(name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;" )

  / Allow saving as a web app on the home screen on iOS Devices (doesn't apply in Baker)
  %meta(name="apple-mobile-web-app-capable" content="yes")

  / If the page is saved as a web app, the statusbar will be black-translucent (doesn't apply in Baker)
  %meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")

  / Prevent phone number detection on iOS devices
  %meta(name="format-detection" content="telephone=no")

  %title= @current_book ? @current_book.title : 'Books'
  

  %link(href="#{@docroot}stylesheets/styles.css" rel="stylesheet" type="text/css" )


  %script(src="#{@docroot}javascripts/libs/modernizr.js" type="text/javascript")
  %script(src="#{@docroot}javascripts/jquery.js" type="text/javascript")
  %script(src="#{@docroot}javascripts/libs/jquery.touchSwipe.js" type="text/javascript")
  /
    %script(type="text/javascript" src="./javascripts/libs/jquery.jplayer.min.js")

%body(id="#{@location||'project'}")

  = partial('nav_bar')

  / Enable text hyphenation with Hyphenator.js
  .hyphenate

    / Dossier start image
    .dossier-start-bg{:style => @page ? "background-image: url(#{@page.cover_image_path(@export)})" : ""}

    / Arrow which indicates the start of the text
    .dossier-headline-arrow
      %img(src="#{@docroot}images/dossier-headline-arrow.png")

    / "content-element" ensures, that content is placed within the right margins
    .content-element
      / Starting Headline
      .starting-headline
        %h1= @page ? @page.title : ""
    / "content-element" ensures, that content is placed within the right margins
    .content-element
      .large-column.float-left= yield

  / Include footer data from inc/footer.html
  .footer
    #includeFooter
      = partial('footer')


